<a href="https://colab.research.google.com/github/gyeomsoo/Homework-2025/blob/main/104_dictionary_object_105_Extracting_values_from_the_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 104 딕셔너리 객체 : dict ()

In [2]:
population = {'서울':9407840, '부산':3320276, '인천':2964820}

In [3]:
population = dict(서울=9407840, 부산=3320276, 인천=2964820)
print(population)

{'서울': 9407840, '부산': 3320276, '인천': 2964820}

In [4]:
population = dict([('서울',9407840), ('부산',3320276), ('인천',2964820)])
print(population)

{'서울': 9407840, '부산': 3320276, '인천': 2964820}

# 105 딕셔너리에서 값 추출하기 1 : *d*[*key*]

In [5]:
population = {'서울':9407840, '부산':3320276, '인천':2964820}
pnum = population['서울']
print(f'2022년 기준 서울의 인구는 {pnum:,d}명 입니다.')

2022년 기준 서울의 인구는 9,407,840명 입니다.

In [9]:
orddict = {97:'a', 98:'b', 99:'c'}
print(f'ASCII 코드 97은 문자 {orddict[97]}에 대응됩니다.')

ASCII 코드 97은 문자 a에 대응됩니다.

In [10]:
ret = orddict[95]

KeyError: 95