<a href="https://colab.research.google.com/github/gyeomsoo/Homework-2025/blob/main/106_Extracting_values_from_the_dictionary_107_Replace_all_keys_in_the_dictionary_with_a_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 106 딕셔너리에서 값 추출하기 2 : *d*.get ()

In [4]:
names = {'Mary':10999, 'Cris':2111, 'Aimy':9778, 'Tom':20245}
ret1 = names.get('Cris')
ret2 = names.get('Sams')

In [5]:
ret1 = names.get('Cris', 0)
ret2 = names.get('Sams', 0)
print(f'ret1 = {ret1}, ret2 = {ret2}')

ret1 = 2111, ret2 = 0

# 107 딕셔너리의 모든 키를 리스트로 만들기 : list(*d*)

In [6]:
names = {'Mary':10999, 'Cris':2111, 'Aimy':9778, 'Tom':20245}
nameList = list(names)
print(nameList)

['Mary', 'Cris', 'Aimy', 'Tom']