<a href="https://colab.research.google.com/github/gyeomsoo/Homework-2025/blob/main/22operator_abbreviation_23comparison_operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 22 연산자 축약 : +=, -=, *=, /=

In [4]:
a = a + 1

In [4]:
a += 1

In [ ]:
a -= 1  # a에서 1을 뺀 결과를 a에 할당
a *= 2  # a와 2를 곱한 결과를 a에 할당
a /= 2  # a에서 2를 나눈 결과를 a에 할당

# 23 비교연산자 : ==, !=, <, <=, >, >=

In [5]:
x = 1; y = 2
strData1 = 'Hello'; strData2 = 'python'
print(x == y)
print(x != y)
print(strData1 == strData2)
print(strData2 == 'python')
print(strData1 < strData2)

False
True
False
True
True