<a href="https://colab.research.google.com/github/gyeomsoo/Homework-2025/blob/main/42Pair_elements_with_the_same_index_43Make_sure_all_elements_are_true.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 42 인덱스가 같은 요소끼리 짝짓기 : zip ()

In [ ]:
zip(iterable1, iterable2, ...)

In [1]:
male = ['슈퍼맨', '심봉사', '로미오', '이몽룡', '마루치']
female = ['원더우먼', '뺑덕어멈', '줄리엣', '성춘향', '아라치']
couples = zip(male, female)
for couple in couples:
    print(couple)

('슈퍼맨', '원더우먼')
('심봉사', '뺑덕어멈')
('로미오', '줄리엣')
('이몽룡', '성춘향')
('마루치', '아라치')

In [6]:
male = ['슈퍼맨', '심봉사', '로미오']
female = ['원더우먼', '뺑덕어멈', '줄리엣', '성춘향', '아라치']
for couple in zip(male, female):
    print(couple)

('슈퍼맨', '원더우먼')
('심봉사', '뺑덕어멈')
('로미오', '줄리엣')

In [7]:
male = ['슈퍼맨', '심봉사', '로미오']
female = ['원더우먼', '뺑덕어멈', '줄리엣', '성춘향', '아라치']
for couple in zip(male, female, strict=True):
    print(couple)

('슈퍼맨', '원더우먼')
('심봉사', '뺑덕어멈')
('로미오', '줄리엣')

ValueError: zip() argument 2 is longer than argument 1

# 43 모든 요소가 참인지 확인하기 : all (), any ()

In [8]:
listData = [0, 1, 2, 3, 4]
print(all(listData))
print(any(listData))

False
True

In [10]:
tupleData = (0, False,'',[],(),{},None)
print(all(tupleData))
print(any(tupleData))

False
False