<a href="https://colab.research.google.com/github/gyeomsoo/Homework-2025/blob/main/54_Create_(index%2C_element)_55_Create_Sequence_Material_Inverse_Sequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 54 (인덱스, 요소) 생성 : enumerate ()

In [1]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
for i, body in enumerate(solarsys):
  print(f'태양계의 {i}번째 천체: {body}')

태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

In [2]:
season = ['봄', '여름', '가을', '겨울']
print(list(enumerate(season, start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [3]:
# enumerate()를 구현한 제너레이터
def myEnumerate(iterable, start=0):
  n = start
  for item in iterable:
    yield (n, item)
    n += 1

In [4]:
print(list(enumerate(season, start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

# 55 시퀀스 자료 역순 만들기 : reversed ()

In [5]:
fruits = ('사과', '배', '오렌지', '수박')
ret = reversed(fruits)
print(list(ret))

['수박', '오렌지', '배', '사과']

In [6]:
print(fruits)

('사과', '배', '오렌지', '수박')

In [7]:
for i in reversed(range(1, 6)):
  print(i)

5
4
3
2
1