<a href="https://colab.research.google.com/github/gyeomsoo/Homework-2025/blob/main/70_Understanding_Tuples_71_String_object.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 70 튜플 이해하기

In [1]:
tupleData = 1, 'two', '셋'
print(tupleData)

(1, 'two', '셋')

In [2]:
tupleData = (1, 'two', '셋')
print(tupleData)

(1, 'two', '셋')

In [5]:
x, y, z = tupleData
print(f'x={x}, y={y}, z={z}')

x=1, y=two, z=셋

In [6]:
tupleData = (0, 1, 2, 3, 4)
tupleData[3] = 'Three'

TypeError: 'tuple' object does not support item assignment

# 71 문자열 객체

In [7]:
strData1 = '안녕하세요'
strData2 = '작은따옴표는 "큰따옴표"를 포함하는 문자열이 가능합니다.'
print(strData1)
print(strData2)

안녕하세요
작은따옴표는 "큰따옴표"를 포함하는 문자열이 가능합니다.

In [8]:
strData3 = "안녕하세요"
strData4 = "큰따옴표는 '작은따옴표'를 포함하는 문자열이 가능합니다."
print(strData3)
print(strData4)

안녕하세요
큰따옴표는 '작은따옴표'를 포함하는 문자열이 가능합니다.

In [13]:
strData5 = '''3중 따옴표는
        여러줄에 걸친 문자열이 가능합니다'''
print(strData5)

3중 따옴표는
        여러줄에 걸친 문자열이 가능합니다

In [14]:
strData6 = """3중 큰따옴표 역시
여러줄에 걸친 문자열이 가능합니다."""
print(strData6)

3중 큰따옴표 역시
여러줄에 걸친 문자열이 가능합니다.

In [15]:
while ret != None:
  """print(f'큐에서 데이터 추출: {ret}')
  print(f'큐상태: {myqueue}')
  print('----------------)"""            #여러 줄의 주석처리 예
  ret = popData()